*{
    margin : 0px;
    padding : 0px;
    box-sizing : border-box;
}

 nav{

    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: 'Poppins', sans-serif;
    background-color: whitesmoke;
}

.logo {
    color : rgb(62, 186, 235);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-links {
    display : flex;
    justify-content: space-around;
    width : 30%;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    color: rgb(20, 71, 92);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

/*main*/

.container{
    width: 500px;
    height: 500px;
   
    margin-left: 330px;
    margin-top: 100px;
}

.btn {
    margin-top: 30px;
    margin-left: 150px;
    padding: 10px;
    color: black;

}


.representation{
    background-color: black;
    color: white;
    font-size: 40px;
    border-radius: 5px;
}

#colors{
    color : rgb(12, 113, 153)
}
